@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.title-container {
  .home-title {
    font-family: 'Playfair Display', sans-serif;
    text-transform: uppercase;
  }
  .FED {
    font-size: 1.5rem;
  }
  .PORTFOLIO {
    font-size: 4rem;
  }
}

a {
  text-decoration: underline;
  color: $darker-green;

  &:hover {
    color: $primary-green;
    background-color: $pastel-green;
    border-radius: 5px;
  }
  &:active {
    color: $pink-theme;
  }
}

.heart-container {
  @include largeHeart;
}

@media (max-width: 768px) {
  .title-container {
    .home-title {
      font-size: 1.2rem;
    }
    .FED {
      font-size: 1.2rem;
    }
    .PORTFOLIO {
      font-size: 3rem;
    }
  }
  .heart-container {
    @include smallHeart;
  }
}
