.repo-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem; // More space between repos
  margin: 2rem 0;
  padding: 0;
}

.main-github-link {
  font-size: 1.2rem;
}

//Error messages
.fetch-error {
  color: red;
  padding: 1rem;
  background: #ffe6e6;
  border: 1px solid red;
  border-radius: 8px;
}
.fetch-empty {
  font-style: italic;
  color: #555;
}

@media (max-width: 768px) {
  .repo-list {
    gap: 1.2rem;
    margin: 1rem 0;
  }

  .main-github-link {
    font-size: 0.9rem;
  }

  //Error messages
  .fetch-error,
  .fetch-empty {
    font-size: 0.9rem;
  }
}
