.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0 1rem 0;
  background: #e6f9ec;
  border-top: 1px solid #cceedd;

  a {
    display: flex;
    align-items: center;
    transition: transform 0.15s;

    &:hover,
    &:focus {
      transform: scale(1.15);
      outline: none;
    }
    svg {
      display: block;
    }
  }
}
