@use './styles/variables' as *;
@use './styles/globals' as *;

// Layout container for the whole app
#root,
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scroll */
  display: flex;
  flex-direction: column;
  background: rgb(255, 0, 128);
  box-sizing: border-box; //for padding to be included in width
}

header {
  background: $pastel-green;
  padding: 1rem;
  flex-shrink: 0; /* Prevent shrinking */
  box-sizing: border-box;
}

main {
  flex: 1; /* Takes up remaining vertical space */
  padding: 1rem;
  background: rgb(249, 242, 241);
  overflow-y: auto; /* Scrolls if content exceeds height */
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

footer {
  background: $pastel-green;
  padding: 1rem;
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
}
