@use '../../styles/variables' as *;

.not-found {
  text-align: center;
  margin: 4rem auto;
  color: $darker-green;

  &-title {
    font-size: 3em;
  }

  &-info {
    font-size: 1.5em;
  }
  a {
    text-decoration: underline;

    &:hover,
    &:focus {
      background: $primary-green;
      padding: 0.5rem 1.25rem;
      border-radius: 4px;
      color: #fff;
      outline: none;
    }
  }
}

@media (max-width: 768px) {
  .not-found {
    margin: 2rem auto;

    &-title {
      font-size: 2em;
    }

    &-info {
      font-size: 1em;
    }
  }
}
